{% extends 'gallery/base.html' %} 

{% block content %} {{block.super}}

<div class="container-fluid" style= "font-size:300%";></div>
<!-- displaying images -->
<div class="row">
    {% for news_item in photos %}

    <div class="col-md-3">
        <!-- modal button-->
        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="">
            <img src="{{news_item.image.url}}" alt="" width="250" height="250">
        </button>
        <br>
        <!-- modal -->
    </div>
    {% endfor %}
</div>
</div>



{% endblock %}


