	
<!-- about ronak -->
<style>
   	/* base */

   	*{

margin: 0;

padding: 0;

box-sizing: border-box;

}

a{

text-decoration: none;

}

/* about ronak */

.space{

height: 30rem;

text-align: center;

font-family:Sofia;

}

.space img{

width: 10rem;

height: 10rem;

border-radius: 50%;

margin: 40px;

}

/* footer start */

footer{

background-color: #3a3a3a;

text-align: center;

padding-bottom: 15px;

}

/* social media icons */

.sm-handle{

display: flex;

padding-top: 2rem;

justify-content: center;

}

.sm-button{

margin: 0px 10px 0px;

border: 1px solid #bababa;

border-radius: 100%;

width: 2rem;

height: 2rem;

display: flex;

align-items: center;

justify-content: center;

cursor: pointer;

}

.sm-button:hover{

background: linear-gradient(to right, #6500ff, #a400ff	);

}

.fab{

color: #fff;

font-size: 16px;

}

/* footer all links*/

.footer-links{

display: grid;

grid-template-columns: 1fr 1fr;

color: white;

letter-spacing: 1.5px;

word-spacing: 2px;

}

.menu-title{

margin-bottom: 10px;

}

.menu{

margin-bottom: 20px;

margin-top: 10px;

}

.menu-links ,.other-links{

display: block;

font-family: Roboto;

color: #d5d5d5;

cursor: pointer;

}

.menu-links:hover{

color: #6500ff;

}

.other-links:hover{

color: #6500ff;

}

/* copyright area */

.copyright{

font-size: 10px;

color: white;

letter-spacing: 1.5px;

word-spacing: 2px;

}

.copyright a{

color: #fff;

font-size: 12px;

cursor: pointer;

}

/* screen change */

@media(max-width :700px){

.footer-links{

grid-template-columns: 1fr;

}

}
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<footer>

         <!-- Social media icons line Start -->

                <div class="sm-handle">

                                <a href="https://www.instagram.com/gedi_j/" class="sm-button">

                                                <i class="fab fa-instagram">	</i>

                                </a>

                                <a href="https://www.linkedin.com/in/gedi-ali-a890831b5/" class="sm-button">

                                                <i class="fab fa-linkedin">	</i>

                                </a>

                                <a href="" class="sm-button">

                                                <i class="fab fa-facebook-f">	</i>

                                </a>

                                <a href="https://twitter.com/iamaligedi" class="sm-button">

                                                <i class="fab fa-twitter">	</i>

                                </a>

                                <a href="https://github.com/Gedihared6409" class="sm-button">

                                                <i class="fab fa-github">	</i>

                                </a>

                </div>

                        <!-- Social media icons line Start -->

                <div class="footer-links">

                    <div class="menu">

                        <h4 class="menu-title">Menu</h4>							

                        <a href="#" class="menu-links">Join Me</a>

                        <a href="#" class="menu-links">My Blogs</a>

                        <a href="#" class="menu-links">My Journey</a>

                        <a href="#" class="menu-links">About</a>

                    </div>

                    <div class="menu">

                        <h4 class="menu-title">Other Pages</h4>

                        <a href="#" class="other-links">Contact Us</a>

                        <a href="#" class="other-links">Privacy Policy</a>

                        <a href="#" class="other-links">FAQ</a>

                        <a href="#" class="other-links">Terms of use</a>

                    </div>

             </div>

             <!-- copyright area -->

                    <p class="copyright">&copy Copyright 2020 | <a href="https://www.linkedin.com/in/gedi-ali-a890831b5/">❤️ ALI HARED</a></p>

</footer>

    <!-- footer main area end -->